<!--  <div class='jcarousel-skin-amqp'>
<div id='slider' style="position: relative; display: block;">
<ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -4240px; width: 4240px;">
<li>
asdf
</li>
<li>
adsfasdf
</li>
<li>
rwer
</li>
</ul>
</div>
</div>  -->
<div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;">
	<div id="slider-wrapper">
		<div id="slider">
			<ul>
				<li style="float: left; list-style: none outside none;">
					<div class="carousel-cols">
						<div class="col1">
							<p>
								Import
							</p>
							<h2>Import Details</h2>
							<!-- 							<div class="button">
							<a href="http://www.amqp.org/about/what">Find out more</a>
							</div> -->
						</div>
						<div class="col2"></div>
					</div>
				</li>
				<li style="float: left; list-style: none outside none;">
					<div class="carousel-cols">
						<div class="col1">
							<p>
								Export
							</p>
							<h2>Export Details</h2>
							<!-- 							<div class="button">
							<a href="http://www.amqp.org/about/examples">Learn more</a>
							</div> -->
						</div>
						<div class="col2"></div>
					</div>
				</li>
				<li style="float: left; list-style: none outside none;">
					<div class="carousel-cols">
						<div class="col1">
							<p>
								Customs
							</p>
							<h2>Customs Details</h2>
							<!-- 							<div class="button">
							<a href="http://www.amqp.org/contributing/how">Become a Member</a>
							</div> -->
						</div>
						<div class="col2"></div>
					</div>
				</li>
				<li style="float: left; list-style: none outside none;">
					<div class="carousel-cols">
						<div class="col1">
							<p>
								Latest News
							</p>
							<h2>Latest News</h2>
							<!-- 							<div class="button">
							<a href="http://www.amqp.org/community">Go to Community Board</a>
							</div> -->
						</div>
						<div class="col2"></div>
					</div>
				</li>
				<!-- 				<li style="float: left; list-style: none outside none;">
				<div class="carousel-cols">
				<div class="col1">
				<p>
				Latest News
				</p>
				<h2>Learn how you can integrate
				<br>
				AMQP 1.0 into new products
				<br>
				and existing systems</h2>
				<div class="button">
				<a href="http://www.amqp.org/about/examples">Learn more</a>
				</div>
				</div>
				<div class="col2"></div>
				</div>
				</li> -->
			</ul>
		</div>
	</div>
	<a disabled="false" style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal" href="javascript:void(0)"></a>
	<a disabled="false" style="display: block;" class="jcarousel-next jcarousel-next-horizontal" href="javascript:void(0)"></a>
</div>
