<ul class="sf-menu sf-style-none">
	<li id="home">
		<%= link_to 'Home', root_url, :title => 'Home' %>
		<div></div>
	</li>
	<li id="services">
		<%= link_to 'Services', services_url, :title => 'Services' %>
		<div></div>
	</li>
	<li id="about_us">
		<%= link_to 'About us', about_us_url, :title => 'About us' %>
		<div></div>
	</li>
	<li id="contact_us" class="last">
		<%= link_to 'Contact us', contact_us_url, :title => 'Contact us' %>
		<div></div>
	</li>
</ul>
