<div id="carousel-nav-wrapper" class="clearfix">
	<ul id="carousel-nav">
		<li class="">
			<%= link_to services_url, :title => 'Services' do %>
			EXPORT
			<br />
			WORK
			<% end %>
		</li>
		<li class="active">
			<img src="assets/carousel-nav-bullet.png" alt="" class="bullet" height="12" width="15">
			<%= link_to services_url, :title => 'Services' do %>
			IMPORT
			<br/>
			WORK
			<% end %>
		</li>
		<li class="">
			<%= link_to services_url, :title => 'Services' do %>
			CUSTOMS
			<br/>
			WORK
			<% end %>
		</li>
		<li class="">
			<%= link_to services_url, :title => 'Services' do %>
			LATEST
			<br />
			NEWS
			<% end %>
		</li>
	</ul>
</div>
