<div class="entry-content contact_us_data">
	<div></div>
	<div>
		<div>
			<span class="glossy_name">Glossy Logistics</span>
		</div>
		<div>
			<span >Old No: 269/1,&nbsp;</span><span style="">New No: 126</span>
		</div>
		<div>
			<span>Ground Floor, D. No. G5</span>
		</div>
		<div>
			<span>Thambu Chetty Street</span>
		</div>
		<div>
			<span>Chennai &ndash; 600 001</span>
		</div>
		<div style="margin-top:20px;"></div>
		<div>
			<span>Phone: &nbsp;+91-44-42130247</span>
		</div>
		<div>
			<span>Mobile: +91-9940386696</span>
		</div>
		<div style="margin-top:20px;"></div>
		<div></div>
		<div>
			<div>
				<span><span>Email:&nbsp;</span><a target="_blank" rel="nofollow" href="mailto:guna@glossylogistics.com"><span">guna@glossylogistics.com</span></a></span>
			</div>
		</div>
		<div>
			<span><span>Website:&nbsp;</span><a target="_blank" rel="nofollow" href="http://www.glossylogistics.com/"><span>www.glossylogistics.com</span></a></span>
		</div>
	</div>
</div>