<div id="columns-home" class="clear clearfix">
	<div id="content-column">
		<div class="content-inner">
			<div id="main-content" role="main">
				<div id="content" class="home">
					<div class="region region-content">
						<section id="block-system-main" class="block block-system block-odd block-content block-count-5">
							<div class="block-inner">
								<div class="block-content">
									<article id="node-7" class="node node-page node-view" role="article" about="/node/7" typeof="sioc:Item foaf:Document">
										<div class="node-inner clearfix">
											<div class="node-content"></div>
											<div id="feeds">
												<div id="feed-1">
													<h2> Announcements / Activities <!-- a href="/aggregator/sources/1">View All</a--><a href="http://www.amqp.org/about/announcements">View All</a></h2>
													<div class="feed">
														<section id="block-views-announcements-block" class="block block-views block-odd block--1 block-count-4">
															<div class="block-inner">
																<div class="block-content">
																	<div class="view view-announcements view-id-announcements view-display-id-block view-dom-id-6513c5a13ee11e893dcdae49cd2683cb">
																		<div class="view-content">
																			<div class="item-list">
																				<ul>
																					<li class="views-row views-row-1 views-row-odd views-row-first">
																						<div class="views-field views-field-title">
																							<span class="field-content"> <a href="http://www.amqp.org/node/83"> IIT Software announces SwiftMQ 9.0 with AMQP 1.0 </a></span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">Date:
																								Wed, 01/11/2012 IIT Software is offering full implementation of the
																								Advanced Message Queuing Protocol (AMQP) specification 1.0 with its
																								messaging system SwiftMQ and as...</span>
																						</div>
																					</li>
																					<li class="views-row views-row-2 views-row-even">
																						<div class="views-field views-field-title">
																							<span class="field-content"><a href="http://www.amqp.org/node/58">OASIS
																								Forms AMQP Technical Committee to Advance Business Messaging
																								Interoperability Within Middleware, Mobile, and Cloud Environments</a></span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">Date:
																								Tue, 11/01/2011
																								OASIS Forms AMQP Technical Committee to Advance Business Messaging
																								Interoperability Within Middleware, Mobile, and Cloud Environments

																								Axway,...</span>
																						</div>
																					</li>
																					<li class="views-row views-row-3 views-row-odd">
																						<div class="views-field views-field-title">
																							<span class="field-content"></span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content"> Sept 15th Webcast NOW AVAILABLE - Changing the Future of Mainstream Business Messaging
																								WATCH IT NOW!&nbsp; (Recorded September 15TH, 2011)

																								&nbsp;...</span>
																						</div>
																					</li>
																					<li class="views-row views-row-4 views-row-even">
																						<div class="views-field views-field-title">
																							<span class="field-content"><a href="http://www.amqp.org/node/54">AMQP Working Group Transitions to OASIS Member Section</a></span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">Date:
																								Thu, 08/18/2011 International Open Standards Consortium Expands to
																								Include Initiative for Business Messaging Interoperability within
																								Middleware, Mobile, and Cloud-based...</span>
																						</div>
																					</li>
																					<li class="views-row views-row-5 views-row-odd views-row-last">
																						<div class="views-field views-field-title">
																							<span class="field-content"><a href="http://www.amqp.org/node/53">Kaazing joins AMQP Working Group</a></span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">Date:
																								Tue, 08/16/2011 Kaazing, the maker of "Web Socket" technology, has
																								joined the AMQP Working Group. Kaazing was an early adopter of AMQP in
																								their product and we are...</span>
																						</div>
																					</li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</section>
													</div>
												</div>
											</div>
											<div id="member-logos"></div>
										</div>
									</article>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
