<div class="entry-content">
	<p style="text-align:justify;">
		GLOSSY LOGISTICS is one of the leading customs clearing agents in Chennai with the responsibility of taking ownership of the work carried out. We, the GLOSSY LOGISTICS people, are with high morality toward the customers in delivering, importing and exporting the goods and cargo and other shipment related activities. We understand the customers’ wish for the cargo or goods to be delivered in time with high security and safety.
	</p>
	<p style="text-align:justify;">
		Our services, which make customers to come to us for importing, exporting goods and cargo, are the following:
	</p>
	<ul>
		<li>
			Customs clearing
		</li>
		<li>
			Stuffing and De-Stuffing of Import/Export cargo
		</li>
		<li>
			Arrangement of&nbsp;Air-freighting of both Domestic and International shipments
		</li>
		<li>
			Freight forwarding
		</li>
		<li>
			Customs broker services
		</li>
		<li>
			Go down facility
		</li>
		<li>
			All kinds of&nbsp;transportation&nbsp;and &nbsp;container movements
		</li>
	</ul>
</div>