<h2>Shipment: Import/Export</h2>
<!-- <table class='shipment_header'>
	<tr>
		<th class="handle_width"></th>
		<th class="handle_width"></th>
		<th class='shipment_desc_width'>Shipment Type</th>
		<th></th>
		<th class='shipment_date_width'>Description</th>
		<th class='shipment_date_width'>Status</th>
		<th class="shipment_desc_width">Created at</th>
		<th class='shipment_desc_width'></th>
	</tr>
	
</table> -->
<ul id="shipping_sort">
	<%= render :partial => :shipment, :collection => @shipments %>
</ul>
<br />
<%= link_to 'New Shipment', new_shipment_path %> 